@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    word-wrap: break-word;
}

body {
    background: #d4d4d4;
}

.wrapper {
    background: #fff;
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    padding: 1.5rem;
}

.wrapper header {
    text-align: center;
}

.wrapper header h1,
p {
    font-weight: 300;
}

.wrapper main form {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.wrapper main form .input-field input {
    padding: 0.5rem;
    width: 100%;
    outline: none;
}

.wrapper main form .input-field {
    position: relative;
}

.wrapper main form .input-field i {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #d4d4d4;
    cursor: pointer;
}

.wrapper main form .select label {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

/* button */
.wrapper main form button {
    background: #333;
    color: #fff;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.wrapper main h3 {
    margin: 1rem 0;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.wrapper main h3 a {
    text-decoration: underline;
    color: #688bcc;
    cursor: pointer;
}

/* USER STYLING */
.home header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home header .user {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.home header .user img {
    border: 1px solid #ddd;
    border-radius: 50px;
    border: 2px solid #646464;
}

.home header .user__details h1 {
    font-size: 1rem;
}

.home header .user__details p {
    font-size: 0.775rem;
    color: rgb(61, 143, 61);
    text-align: left;
}

.home header .logout {
    padding: 0.2rem 0.875rem;
    font-size: 0.875rem;
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.home main .search-field {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.home main .search-field input {
    height: 42px;
    padding: 0 0.5rem;
    width: 100%;
    outline: none;
}

.home main .search-field i {
    padding: 0.875rem;
    border-radius: 2px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

/* USERS LIST STYLING */
.home .users-list {
    margin-top: 0.3rem;
    max-height: 300px;
    overflow-y: auto;
}

.home .users-list::-webkit-scrollbar {
    width: 0px;
}

.home .users-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 1rem 0;
    border-bottom: 1px solid #ddd;
}

.home .users-list a:last-child {
    border-bottom: none;
    margin-bottom: 1px;
}

.home .users-list .content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.home .users-list .content img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid #333;
}

.home .users-list a .content__details span,
p {
    font-size: 0.875rem;
    color: #000;
}

.home .users-list a .content__details p {
    color: #67676a;
    font-size: 0.775rem;
}

.home .users-list a .status-dot {
    color: green;
    font-size: 12px;
}

.home .users-list a .status-dot.offline {
    color: #ddd;
}

/* CHAT ROOM STYLING */

.chat-room header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.2rem;
}

.chat-room header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-room header img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid #333;
}

.chat-room header .user__details h1 {
    font-size: 1rem;
}

.chat-room header .user__details p {
    text-align: left;
    color: rgb(61, 143, 61);
    font-size: 0.775rem;
}

.chat-box {
    overflow-y: auto;
    height: 500px;
    background-color: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
        inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
    display: flex;
}

.chat-box .outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.chat-box .outgoing p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1px solid #333;
}

.chat-box .incoming .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.chat-box .incoming p {
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0px;
}

.chat-room .typing-area {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.chat-room .typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    padding: 0 0.875rem;
    font-size: 0.875rem;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

.chat-room .typing-area button {
    width: 55px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
